.slider-btn-wrapper {
  @apply flex justify-end gap-4;
}

.slider-btn {
  @apply bg-background-tertiary text-background-secondary-dark flex h-10 w-28 items-center justify-center rounded-lg px-6 py-2;

  &:disabled {
    @apply text-disabled bg-transparent;
  }

  svg {
    @apply h-full w-full object-contain;
  }
}

.slider-pagination-wrapper {
  @apply flex justify-center gap-4;
}

.slider-pagination-btn {
  @apply aspect-square w-5 cursor-pointer rounded-full transition-all;
  background-color: var(--color-accent);
}

.slider-pagination-btn:hover {
  background-color: var(--color-accent-hover);
}

.slider-pagination-btn.active {
  @apply aspect-auto w-12;
}
